.text {
    /* margin-top: 1rem; */
    font-size: 1rem;
    opacity: 0.8;
    font-weight: bold;
}

.input {
    padding: 0.2rem;
    border: none;
    border-radius: 4px;
    box-shadow:inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
    width: 300px;
}
