.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    border: 1px solid indigo;
    padding: 2rem;
}

.label {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2rem;
}

.input {
    padding: 0.2rem;
    border: none;
    border-radius: 4px;
    box-shadow:inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.btn {
    cursor: pointer;
    text-transform: capitalize;
  
    padding: 0.5rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
  
    background-color: indigo;
    color: white;
    font-size: 1rem;
  
    transition: 250ms ease-in-out;
    &:hover {
      background-color: white;
      color: indigo;
      border: 1px solid indigo;
    }
    &:active {
      box-shadow:inset 0 0 5px 2px rgba(0, 0, 0, 0.6);
      transition: none;
    }
  }